language: java
jdk:
- oraclejdk8
deploy:
  provider: heroku
  app: chuck_joke
  api_key:
    secure: hBOaYo1xm12mVpx0jB1ArgYv1iO5gyAlncv+30A563qBwebJEMtgKyXOsijtgVbim1L+7Iwc3Wswu7t58hwEbVPHl/hoX6aKQ92t28sTHvlUcUznwnMbPhix7O+xJIi/AhlbBg6QHd7siTuPzoZxnxfaVkqgdz74woqe2HdWywGxQ4DSdPbVA6CfvehjTHxbU7+jezPHBNu5KcMce2hNG2okygG87WEf/ekEx0wIi0yDO+5sQciG7fYpEJPx6mi39lJNoxIQkiO5aIu73lA3MxYFC92lta3jfOm/l+eTjO9Hh4wBPJmJ17Awyygy2vwslyHBKOnoJClWepZqqwddZxKpZOpAhxybdZJl6qHg6Eh5hqd+Vjf0OFJIkhOgr3NVJpnOv3u0Wr7nGTiaepko7+SzkDRqxEkZQIMpgth2fqG6ZI4XC+URGgcE9RKFShPqExFUFAHHxcD2Ioape6pAVHhx6hQdccjbcJzlL3dt2sTGVnhiha3QLxoTDKScANWRYPjrS+hG1ho5Bmt+QGmPr49KOh0deg9TODoIKobp5fLVlAoG97u4Ki43rKBCuah4+pffpAwdsBpEVL6k15JzqIqk44h1JKxX2L5UHTWDi/sVy9Jp9XuyTLASfv/ftOiT//6XO6C2fz8oLT/f6KTF0d13iHbm82lZaNu2FC43P5E=
